---
import Layout from '../layouts/Layout.astro';
import Hero from '../components/Hero.astro';
import HeroTitle from '../components/HeroTitle.astro';
import HeroLead from '../components/HeroLead.astro';
import Contact from '../components/Contact.astro';
import Credits from '../components/Credits.astro';
import Navbar from '../components/Navbar.astro';
import Card from '../components/Card.astro';

const introTitle = 'Carlos is trying to grow up...';
const introLead = '...but instead spend his time on...';
const projectsTitle = '...Making some Apps & websites...';
const scriptsTitle = '...Finding fancy lazy ways to make things happen...';
const blogTitle = '...Trying to not forget how things work...';
const techTitle = '...Having fun with these technologies...';
const email = 'carlosgomez.deb@gmail.com';
---

<Layout>

	<Navbar />

  <Hero id={'intro'} klass={'min-h-screen'}>
		<HeroTitle title={introTitle} klass={'gradient-animation'} />
		<HeroLead lead={introLead} klass={'pl-40 lg:-mr-20'} />
	</Hero>

	<Hero id={'work'} klass={'min-h-screen'} heroContentWidth='max-w-full' >
		<div class="grid xl:lg:md:grid-cols-3 gap-4">
			<div class="xl:lg:col-span-2 place-self-center">
				<div class="max-w-screen-sm">
					<HeroTitle title={projectsTitle} klass={'place-self-center'} />
					<button class="btn btn-outline btn-success btn-wide fira-code">More works</button>
				</div>
			</div>

			<div class="place-self-center carousel w-full">
				<div id="work-1" class="place-self-center carousel-item relative w-full">
					<Card href='/work-1' klass={'w-full'} title='Project 1' badge='Hello world' body='Lorem ipsum dolor sit amet, consectetur adipiscing elit.' />
					<div class="absolute flex justify-between transform -translate-y-1/2 left-5 right-5 top-1/2">
						<a href="#work-3" class="btn btn-circle">❮</a> 
						<a href="#work-2" class="btn btn-circle">❯</a>
					</div>
				</div>
				<div id="work-2" class="place-self-center carousel-item relative w-full">
					<Card href='/work-1' klass={'w-full'} title='Project 2' badge='Hello world' body='Lorem ipsum dolor sit amet, consectetur adipiscing elit.' />
					<div class="absolute flex justify-between transform -translate-y-1/2 left-5 right-5 top-1/2">
						<a href="#work-1" class="btn btn-circle">❮</a> 
						<a href="#work-3" class="btn btn-circle">❯</a>
					</div>
				</div>
				<div id="work-3" class="place-self-center carousel-item relative w-full">
					<Card href='/work-1' klass={'w-full'} title='Project 3' badge='Hello world' body='Lorem ipsum dolor sit amet, consectetur adipiscing elit.' />
					<div class="absolute flex justify-between transform -translate-y-1/2 left-5 right-5 top-1/2">
						<a href="#work-2" class="btn btn-circle">❮</a> 
						<a href="#work-1" class="btn btn-circle">❯</a>
					</div>
				</div>
			</div>
		</div>
	</Hero>

	<Hero id={'scripts'} klass={'min-h-screen'} heroContentWidth='max-w-full' >
		<div class="grid xl:lg:grid-cols-3 gap-4">
			<div class="xl:lg:col-span-2 place-self-center">
				<div class="indicator">
					<div class="indicator-item indicator-bottom">
						<button class="btn btn-accent fira-code">See how</button>
					</div> 
					<div class="card bg-neutral">
						<div class="card-body">
							<h2 class="card-title text-secondary">Automation</h2> 
							<p>Automate your workflow</p>
						</div>
					</div>
				</div>
			</div>

			<div class="place-self-center">
				<HeroTitle title={scriptsTitle} />
			</div>
		</div>
	</Hero>

	<Hero id={'articles'} klass={'min-h-screen'}>
		<HeroTitle title={blogTitle} />
	</Hero>

	<Hero id={'tech'} klass={'h-screen-75'} heroContentWidth='max-w-full' >
		<div class="mb-10">
			<HeroTitle title={techTitle} />
		</div>
		<div class="divider mt-10"></div>
		<div class="mt-10">
			<div class="badge badge-lg my-1">Ruby</div>
			<div class="badge badge-lg my-1">Python</div>
			<div class="badge badge-lg my-1">Javascript</div>
			<div class="badge badge-lg my-1">Postgresql</div>
			<div class="badge badge-lg my-1">Django</div>
			<div class="badge badge-lg my-1">Ruby on Rails</div>
			<div class="badge badge-lg my-1">AWS</div>
			<div class="badge badge-lg my-1">Digital Ocean</div>
			<div class="badge badge-lg my-1">Git</div>
			<div class="badge badge-lg my-1">Github</div>
			<div class="badge badge-lg my-1">Gitlab</div>
			<div class="badge badge-lg my-1">Linux</div>
			<div class="badge badge-lg my-1">Nginx</div>
			<div class="badge badge-lg my-1">Mysql</div>
			<div class="badge badge-lg my-1">Redis</div>
			<div class="badge badge-lg my-1">Bootstrap</div>
			<div class="badge badge-lg my-1">CSS3</div>
			<div class="badge badge-lg my-1">Docker</div>
		</div>
	</Hero>

  <Contact name={email} />

  <Credits />

</Layout>

<script is:inline>
	const anchors = document.getElementsByClassName('btn-circle');

	[...anchors].forEach(element => {
		element.addEventListener('click', function(event) {
			event.preventDefault();
			const target = document.querySelector(this.getAttribute('href'));
			target.scrollIntoView({ behavior: 'smooth' });
		});
	});
</script>