---
import Layout from '../layouts/Layout.astro';
import Hero from '../components/Hero.astro';
import HeroTitle from '../components/HeroTitle.astro';
import HeroLead from '../components/HeroLead.astro';
import Contact from '../components/Contact.astro';
import Credits from '../components/Credits.astro';
import Navbar from '../components/Navbar.astro';
import Card from '../components/Card.astro';
import ArticlesGrid from '../components/ArticlesGrid.astro';

// Intro section
const introTitle = 'Carlos busca crecer...';
const introLead = '...y está decidido a hacerlo a través de su pasión por el desarrollo web.';

// Work section
const projectsTitle = 'Creando apps y sitios web que marcan la diferencia...';
const projectsLead = '...enfocado en proyectos que no solo resuelven problemas, sino que también mejoran la vida de las personas.';
const projectsCTA = 'Más proyectos';
import * as readyWork from '../content/works/joinready.md';
import * as marialindaWork from '../content/works/marialinda.md';
import * as medikappWork from '../content/works/medikapp.md';

// Blog section
const blogTitle = 'Compartiendo su conocimiento...';
const blogLead = '...a través de artículos técnicos y reflexiones sobre la industria del desarrollo web.';
const blogCTA = 'Leer más';

// Tech section
const techTitle = 'Experimentando con nuevas tecnologías...';
const techLead = '...siempre interesado en explorar y aprender nuevas tecnologías.';

// Contact section
const email = 'carlosgomez.deb@gmail.com';
---

<Layout>

	<Navbar />

  <Hero id={'intro'} klass={'min-h-screen'}>
		<HeroTitle title={introTitle} klass={'gradient-animation text-7xl sm:h-full h-full'} />
		<HeroLead lead={introLead} klass={'lg:pl-40 md:-mr-20'} />
	</Hero>

	<Hero id={'work'} klass={'flex items-stretch py-auto'} heroContentWidth={'w-full'} heroContentHeight={'h-screen'}>

		<div class="flex flex-col items-center justify-center gap-6 sm:gap-9 sm:flex-row self-center h-full">
			<div class="md:w-1/2 pl-4">
				<HeroTitle title={projectsTitle} klass={'place-self-center xl:lg:text-5xl text-2xl text-white xl:lg:h-20'} />
				<HeroLead lead={projectsLead} klass={'px-20 sm:px-0'} />
				<button class="btn btn-outline btn-success btn-wide fira-code">{projectsCTA}</button>
			</div>

			<div class="md:w-1/2 flex items-center justify-center">
				<!-- Cards -->
				<div class="w-2/3">
					<div class="place-self-center carousel w-full h-full">
						<div id="work-1" class="place-self-center carousel-item relative w-full h-full">
							<div class="place-self-center">
								<Card href={readyWork.frontmatter.slug} klass={'w-full min-h-fit'} title={readyWork.frontmatter.title} badges={readyWork.frontmatter.tags} body={readyWork.frontmatter.description} image={readyWork.frontmatter.image} />
								<div class="absolute flex justify-between transform -translate-y-1/2 left-5 right-5 top-1/2">
									<a onclick="carousel('work-3', event)" href="#work-3" class="btn btn-circle">❮</a> 
									<a onclick="carousel('work-2', event)" href="#work-2" class="btn btn-circle">❯</a>
								</div>
							</div>
						</div>
						<div id="work-2" class="place-self-center carousel-item relative w-full h-full">
							<div class="place-self-center">
								<Card href={marialindaWork.frontmatter.slug} klass={'w-full min-h-fit'} title={marialindaWork.frontmatter.title} badges={marialindaWork.frontmatter.tags} body={marialindaWork.frontmatter.description} image={marialindaWork.frontmatter.image} />
								<div class="absolute flex justify-between transform -translate-y-1/2 left-5 right-5 top-1/2">
									<a onclick="carousel('work-1', event)" href="#work-1" class="btn btn-circle">❮</a> 
									<a onclick="carousel('work-3', event)" href="#work-3" class="btn btn-circle">❯</a>
								</div>
							</div>
						</div>
						<div id="work-3" class="place-self-center carousel-item relative w-full h-full">
							<div class="place-self-center">
								<Card href={medikappWork.frontmatter.slug} klass={'w-full min-h-fit'} title={medikappWork.frontmatter.title} badges={medikappWork.frontmatter.tags} body={medikappWork.frontmatter.description} image={medikappWork.frontmatter.image} />
								<div class="absolute flex justify-between transform -translate-y-1/2 left-5 right-5 top-1/2">
									<a onclick="carousel('work-2', event)" href="#work-2" class="btn btn-circle">❮</a> 
									<a onclick="carousel('work-1', event)" href="#work-1" class="btn btn-circle">❯</a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</Hero>

	<Hero id={'articles'}  klass={'flex items-stretch py-auto'} heroContentWidth={'w-full'} heroContentHeight={'h-screen'}>
		<div class="flex flex-col md:sm:w-full xl:lg:md:flex-row items-stretch justify-between gap-6 sm:gap-9 self-center h-full">
			<div class="w-full xl:lg:md:sm:w-1/3 pl-4 flex flex-col justify-center items-center h-full">
				<HeroTitle title={blogTitle} klass={'xl:lg:text-5xl text-2xl text-white self-auto'} />
				<HeroLead lead={blogLead} klass={'px-20 sm:px-0'} />
				<button class="btn btn-outline btn-success btn-wide fira-code">{blogCTA}</button>
			</div>

			<div class="w-full xl:lg:md:sm:w-2/3 h-1/2 xl:lg:md:h-full backdrop-blur-sm bg-base-300/30">
				<ArticlesGrid />
			</div>
		</div>
	</Hero>

	<Hero id={'tech'} klass={'h-screen'} heroContentWidth='max-w-full'>
		<div class="mb-10">
			<HeroTitle title={techTitle} klass={'xl:lg:text-5xl text-2xl text-white h-full'} />
			<HeroLead lead={techLead} klass={'px-20 sm:px-0'} />
		</div>
		<div class="divider mt-10"></div>
		<div class="mt-10 xl:lg:md:px-64 px-10">
			<div class="badge badge-lg my-1"><i class="fa-regular fa-gem text-red-600"></i>&nbsp;Ruby</div>
			<div class="badge badge-lg my-1"><i class="fa-brands fa-python text-blue-500"></i>&nbsp;Python</div>
			<div class="badge badge-lg my-1"><i class="fa-brands fa-square-js text-yellow-300"></i>&nbsp;Javascript</div>
			<div class="badge badge-lg my-1"><i class="fa-solid fa-database text-blue-500"></i>&nbsp;Postgresql</div>
			<div class="badge badge-lg my-1"><i class="fa-brands fa-aws text-yellow-400"></i>&nbsp;AWS</div>
			<div class="badge badge-lg my-1"><i class="fa-brands fa-digital-ocean text-blue-400"></i>&nbsp;Digital Ocean</div>
			<div class="badge badge-lg my-1"><i class="fa-brands fa-git text-orange-400"></i>&nbsp;Git</div>
			<div class="badge badge-lg my-1"><i class="fa-brands fa-github text-black"></i>&nbsp;Github</div>
			<div class="badge badge-lg my-1"><i class="fa-brands fa-gitlab text-red-300"></i>&nbsp;Gitlab</div>
			<div class="badge badge-lg my-1"><i class="fa-brands fa-linux text-white"></i>&nbsp;Linux</div>
			<div class="badge badge-lg my-1"><i class="fa-solid fa-database text-blue-400"></i>&nbsp;Mysql</div>
			<div class="badge badge-lg my-1"><i class="fa-solid fa-database text-red-600"></i>&nbsp;Redis</div>
			<div class="badge badge-lg my-1"><i class="fa-brands fa-bootstrap text-purple-500"></i>&nbsp;Bootstrap</div>
			<div class="badge badge-lg my-1"><i class="fa-brands fa-css3-alt text-orange-600"></i>&nbsp;CSS3</div>
			<div class="badge badge-lg my-1"><i class="fa-brands fa-docker text-blue-600"></i>&nbsp;Docker</div>
			<div class="badge badge-lg my-1">Tailwind</div>
			<div class="badge badge-lg my-1">Nginx</div>
			<div class="badge badge-lg my-1">Astro</div>
			<div class="badge badge-lg my-1">Django</div>
			<div class="badge badge-lg my-1">Ruby on Rails</div>
		</div>
	</Hero>

  <Contact name={email} />

  <Credits />

</Layout>

<script is:inline>
	function carousel(id, event) {
		event.preventDefault();

		const slide = document.getElementById(id);
		slide.scrollIntoView({block: 'center'});
	}
</script>