---
const { href, title, badge, body, klass } = Astro.props;
---

<li class:list={[klass]} class="card w-96 bg-base-300 shadow-xl">
	<a href={href}>	
		<figure><img src="/images/thalia-tran-d1Wj9qU5C-o-unsplash.jpg" alt="Code 1" /></figure>
		<div class="card-body">
			<h2 class="fira-code card-title">
				{title}
			</h2>
			<p>{body}</p>
			<div class="card-actions justify-end">
				<div class="badge badge-secondary">{badge}</div>
				<div class="badge badge-secondary">{badge}</div>
			</div>
		</div>
	</a>
</li>
