---
const { href, title, badges, body, klass, image } = Astro.props;
---

<li class:list={[klass]} class="card w-96 bg-base-300 shadow-xl">
	<a href={href}>	
		<figure>
			<img src={image} alt="Code 1" class="max-w-full transition duration-300 ease-in-out transform rounded-md hover:scale-110" /></figure>
		<div class="card-body">
			<h2 class="fira-code card-title">
				{title}
			</h2>
			<p>{body}</p>
			<div class="card-actions justify-end">
				{
					[...badges].map(badge => <span class="badge badge-info">{badge}</span>)
				}
			</div>
		</div>
	</a>
</li>
